body {
  font-family:Arial, Helvetica, sans-serif
  background: url("../images/background/background-1.png")no-repeat;
  background-size: 420px;
}
a{
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}
