$primary-color: rgb(35, 42, 123);
$second-color: rgb(240, 220, 178);
$third-color: rgb(255, 255, 255);
$fourth-color:rgb(219, 174, 39);
$background-color-box: rgb(255, 244, 230);
$font-size-primary: 18px;
$font-size-btn: 16px;
$font-size-title: 24px;
$font-size-title-l: 26px;
$line-height-primary: 1.6;
$line-height-second: 1.4;
$line-height-third: 1.2;
$container:420px