.camket .container{
  text-align: center;
  position: absolute;
  left:0;
  right:0;
  margin-top:2610px;
  z-index: 11;
}
.camket-text{
  margin:20px 0px;
  padding:0px 28px;
}
.camket-main{
  padding: 0px 24px;
  margin-bottom:25px;
}
.camket-btn{
  width: 180px;
  padding: 2px 25px;
  border: none;
  border-radius:30px;
  color:$primary-color;
  font-weight: 600;
  background-color:$background-color-datlich ;
  font-size:18px;
}