.dangki .container{
  background : url("../images/background/background-4.png") no-repeat;
  background-size: 420px;
  height: 1780px;
  text-align: center;
  position: absolute;
  left:0;
  right:0;
  margin-top:400px;
  z-index: 11;
}