.datlich .container{
  background : url("../images/background/background-3.png") repeat;
  background-size: 420px;
  height: 4930px;
  text-align: center;
  position: absolute;
  left:0;
  right:0;
  margin-top:400px;
}
.datlich-img-header{
  padding: 25px 0px;
}
.datlich-img-item-text-khai-sac{
  padding: 0px 25px;
}
.datlich-img-item-text-voi-top{
  padding: 13px 63px 15px;
}
.datlich-img-item-text-gia-0d{
  padding: 0px 95px;
}
.datlich-img-main{
  margin: 0px 25px;
  height: calc(1290px - 15px);
  border: hidden !important;
  background-color: #4d57c9;
  border-radius:30px;
  &-top{
    padding :13px 30px 15px;
    width:260px;
  }
  &-main{
    height:1145px;
    padding:0px 20px;
    position: relative;
    &-group{
      position:absolute;
      top:0;
      right:100;
      width: 125px;
      margin-top:190px;
      margin-left:15px;
      &-list{
        display: flex;
        margin-bottom:198px;
      }
    }
    &-datlich:not(:last-child){
      margin-right:50px;
    }
  }
  &-bottom-da-co{
    margin-top:20px;
    padding: 10px 65px;
  }
}
.datlich-img-footer{
  margin:20px 0px 46px;
  &-gia-chi{
    padding: 0px 60px;
  }
  &-btn{
    width: 210px;
    margin: 30px 0px;
    padding: 2px 25px;
    border: none;
    border-radius:30px;
    color:$primary-color;
    font-weight: 600;
    background-color: $background-color-btn;
    font-size:25px;
    z-index: 10;
  }
}
@include maxWidth(424px){
  .datlich .container{
    background-size: 380px;
    height: 4700px;
    margin-top:340px;
  }
  .datlich-img-main{
    margin: 0px 25px;
    height: 1190px;
    &-main{
      height:1050px;
      padding:0px 10px;
      position: relative;
      &-group{
        position:absolute;
        top:0;
        right:100;
        width: 125px;
        margin-top:170px;
        margin-left:15px;
        &-list{
          display: flex;
          margin-bottom:180px;
        }
      }
      &-datlich:not(:last-child){
        margin-right:30px;
      }
    }
    &-bottom-da-co{
      margin-top:20px;
      padding: 10px 65px;
    }
  }
}
@include maxWidth(374px){
  .datlich .container{
    background-size: 320px;
    height: 4330px;
    margin-top:280px;
  }
  .datlich-img-main{
    margin: 0px 10px;
    height: 1090px;
    &-main{
      height:1050px;
      padding:0px 10px;
      position: relative;
      &-group{
        width: 110px;
        margin-top:160px;
        margin-left:15px;
        &-list{
          display: flex;
          margin-bottom:167px;
        }
      }
      &-datlich:not(:last-child){
        margin-right:32px;
      }
    }
    &-bottom-da-co{
      margin-top:-60px;
      padding: 10px 65px;
    }
  }
}