.datlich .container{
  background : url("../images/background/background-3.png") no-repeat;
  background-size: 420px;
  height: 1750px;
  text-align: center;
}
.datlich-img-header{
  padding: 25px 0px;
}
.datlich-img-item-text-khai-sac{
  padding: 0px 25px;
}
.datlich-img-item-text-voi-top{
  padding: 13px 63px 15px;
}
.datlich-img-item-text-gia-0d{
  padding: 0px 95px;
}
.datlich-img-main{
  margin: 0px 25px;
  height: 1290px;
  border: hidden !important;
  background-color: #4d57c9;
  border-radius:30px;
  &-top{
    padding :13px 30px 15px;
    width:260px;
  }
  &-main{
    height:1145px;
    padding:0px 20px;
    position: relative;
    &-group{
      position:absolute;
      top:0;
      right:100;
      width: 125px;
      margin-top:190px;
      margin-left:15px;
      
    }
    &-datlich:not(:last-child){
      margin-right:50px;
    }
  }
  
}
