.header .container{
  height: 2000px;
  background: url("../images/background/background-1.png")no-repeat;
  background-size: 420px;
}
.header-list-btn{
  padding:calc(490px + 20px) 45px 0px;
}
.list-item-btn:not(:last-child){
  margin:
}
input {
  border: 1px solid ;
  border-radius: 10px;
  width: 330px;
}
