.header .container{
  height: 2000px;
  background: url("../images/background/background-1.png")no-repeat;
  background-size: 420px;
}
.header-list-btn{
  padding:calc(490px + 20px) 45px 0px;
}
.list-item-btn:not(:last-child){
  margin-bottom: 8px;
}
input {
  border: none;
  border-radius: 40px;
  width: 330px;
  background-color: $background-color-btn;
}
