.modal .container{
  background: url("../images/modal/background.png") no-repeat;
  background-size: 380px;
  height: 4930px;
  top:0;
  text-align: center;
  position: fixed;
  scro
  left:0;
  right:0;
  z-index: 15;
}