.modal .container{
  background: url("../images/modal/background.png") no-repeat;
  background-size: 300px;
  height:100%;
  top:0;
  transform: rotate('90px');
  text-align: center;
  position: fixed;
  overflow: auto;
  left:0;
  right: 0;
  z-index: 15;
  padding-top:20px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}