body {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  justify-content: center; /* Canh chỉnh theo trục ngang */
  align-items: center; /* Canh chỉnh theo trục dọc */
  background: url("../images/background/background-1.png") no-repeat;
}
