.tuvan .container{
  background : url("../images/background/background-2.png") no-repeat;
  background-size: 420px;
  height: 480px;
}
.tuvan-img{
  padding: 35px 0px 14px;
}
.tuvan-item-cohoi{
  padding: 110px 0px;
}
