extends layout/layout

block vars
	-title = 'page'
	-bodyClass = 'home-page'

block container
	include blocks/tuvan
	include blocks/datlich
	include blocks/dangki
	include blocks/camket
	include blocks/review
	include blocks/truyenthong
	include blocks/truyenthong
		