extends layout/layout

block vars
	-title = 'page'
	-bodyClass = 'home-page'

block container
	include blocks/tuvan
	include blocks/datlich
	include blocks/
	include blocks/device
	include blocks/wedo
	include blocks/quote
	include blocks/team
	include blocks/work
	include blocks/testimonial
	include blocks/people
	include blocks/story
		