section.camket
  .container
    img(src="../images/camket/4-cam-ket-vang-khi-lam-dep.png").camket-text
    img(src="../images/camket/4-cam-ket.png").camket-main
    button(type="button" id="myBtn").camket-btn Đặt lịch ngay!