section.dangki
  .container
    img(src="../images/dangki/he-thong-tham-my-vien-ngoc-dung-25-nam-dan-dau-uy-tin-chat-luong.png").dangki-text
    .dangki-carousel
    i.fa.fa-angle-left.left-arrow
      .dangki-carousel-border 
        img(src="../images/dangki/khonggian.png").dangki-carousel-border-img 
        .dangki-carousel-border-text Làm đẹp trong không gian sang trọng đẳng cấp.

      .dangki-carousel-border 
        img(src="../images/dangki/mytam.png").dangki-carousel-border-img 
        .dangki-carousel-border-text Địa chỉ làm đẹp tin cậy của nhiều ngôi sao hạng A
      .dangki-carousel-border 
        img(src="../images/dangki/thietbi.png").dangki-carousel-border-img 
        .dangki-carousel-border-text Địa chỉ làm đẹp tin cậy của nhiều ngôi sao hạng A
    i.fa.fa-angle-right.right-arrow
    button(type="button").dangki-btn Đăng ký ngay   