section.dangki
  .container
    img(src="../images/dangki/he-thong-tham-my-vien-ngoc-dung-25-nam-dan-dau-uy-tin-chat-luong.png").dangki-text
    .dangki-carousel
      +dangkiItem()
      +dangkiItem("../images/dangki/mytam.png")
    button(type="button").dangki-btn Đăng ký ngay 