section.dangki
  .container
    img(src="../images/dangki/he-thong-tham-my-vien-ngoc-dung-25-nam-dan-dau-uy-tin-chat-luong.png").dangki-text
    .dangki-carousel
      .dangki-carousel-border 
        img(src="../images/dangki/mytam.png").dangki-carousel-border-img 
        .dangki-carousel-border-text asdadasdasd asd asd asd asd a
      .carousel-slide
        img(src="../images/dangki/mytam.png", alt="Slide 2")
        .carousel-text
          p asdadasdasd asd asd asd asd a
          button.dangki-btn(type="button") Đăng ký ngay
    button(type="button").dangki-btn Đăng ký ngay 