section.dangki
  .container
    img(src="../images/dangki/he-thong-tham-my-vien-ngoc-dung-25-nam-dan-dau-uy-tin-chat-luong.png").dangki-text
    .carousel
      .carousel-slide
        img(src="../images/dangki/mytam.png", alt="Slide 2")
        .carousel-text
          p asdadasdasd asd asd asd asd a
          button.dangki-btn(type="button") Đăng ký ngay
      .carousel-slide
        img(src="../images/dangki/mytam.png", alt="Slide 2")
        .carousel-text
          p asdadasdasd asd asd asd asd a
          button.dangki-btn(type="button") Đăng ký ngay
    button(type="button").dangki-btn Đăng ký ngay 