section.dangki
  .container
    img(src="../images/dangki/he-thong-tham-my-vien-ngoc-dung-25-nam-dan-dau-uy-tin-chat-luong.png").dangki-text
    .dangki-carousel
      .dangki-carousel-border 
        img(src="C:\Users\NhongNguyen\source\mobile-ngoc-dung-tiktok\app\images\dangki\khonggian.png").dangki-carousel-border-img 
        .dangki-carousel-border-text
    .dangki-btn