section.quote 
  .container
    .quote-container 
      //- i.fa.fa-angle-left.quote-arrow-left.quote-arrow
      +quoteItem("../images/img-wedo-icon1.png")
      +quoteItem("../images/img-wedo-icon2.png")
      +quoteItem("../images/img-wedo-icon3.png")
      //- i.fa.fa-angle-right.quote-arrow-right.quote-arrow