section.dangki
  .container
    .carousel
      .carousel-slide

        .carousel-text
          p asdadasdasd asd asd asd asd a
          button.dangki-btn(type="button") Đăng ký ngay
      .carousel-slide
        img(src="../images/dangki/mytam.png", alt="Slide 2")
        .carousel-text
          p asdadasdasd asd asd asd asd a
          button.dangki-btn(type="button") Đăng ký ngay
