section.dangki
  .container
    img(src="../images/dangki/he-thong-tham-my-vien-ngoc-dung-25-nam-dan-dau-uy-tin-chat-luong.png").dangki-text
    .dangki-carousel
      .dangki-carousel-border 
        img(src="../images/dangki/mytam.png").dangki-carousel-border-img 
        .dangki-carousel-border-text asdadasdasd asd asd asd asd a
      .dangki-carousel-border 
        img(src="../images/dangki/mytam.png").dangki-carousel-border-img 
        .dangki-carousel-border-text asdadasdasd asd asd asd asd a
    button(type="button").dangki-btn Đăng ký ngay 