section.dangki
  .container
    
    .dangki-carousel
      .dangki-carousel-border 
        img(src="../images/dangki/mytam.png").dangki-carousel-border-img 
        .dangki-carousel-border-text asdadasdasd asd asd asd asd a
    button(type="button").dangki-btn Đăng ký ngay 