section.datlich
  .container
    .datlich-img
      .datlich-img-header
        .datlich-img-list-text 
          img(src="../images/datlich/").datlich-img-item-text 
      .datlich-img-main 
      .datlich-img-bottom
