section.datlich
  .container
    .datlich-img
      .datlich-img-header
        .datlich-img-list-text 
          img(src="../images/datlich/khai-sac-rang-ngoi-bung-khi-chat.png").datlich-img-item-text
          img(src="../images/datlich/voi-top-dich-vu-cao-cap.png").datlich-img-item-text
          
      .datlich-img-main 
      .datlich-img-bottom
