section.datlich
  .container
    .datlich-img
      .datlich-img-header
        .datlich-img-list-text 
          img(src="../images/datlich/khai-sac-rang-ngoi-bung-khi-chat.png").datlich-img-item-text-khai-sac
          img(src="../images/datlich/voi-top-dich-vu-cao-cap.png").datlich-img-item-text-voi-top
          img(src="../images/datlich/gia-0d.png").datlich-img-item-text-gia-0d
      .datlich-img-main
        img(src="../images/datlich/top-dv-cao-cap-nhat.png").datlich-img-main-top 
        .datlich-img-main-main
          img(src="../images/datlich/dich-vu.png").
          .datlich-img-main-main-group
            .datlich-img-main-main-group-list
              img(src="../images/datlich/dat-lich.png").datlich-img-main-main-datlich
              img(src="../images/datlich/dat-lich.png").datlich-img-main-main-datlich
            .datlich-img-main-main-group-list
              img(src="../images/datlich/dat-lich.png").datlich-img-main-main-datlich
              img(src="../images/datlich/dat-lich.png").datlich-img-main-main-datlich
            .datlich-img-main-main-group-list
              img(src="../images/datlich/dat-lich.png").datlich-img-main-main-datlich
              img(src="../images/datlich/dat-lich.png").datlich-img-main-main-datlich
            .datlich-img-main-main-group-list
              img(src="../images/datlich/dat-lich.png").datlich-img-main-main-datlich
              img(src="../images/datlich/dat-lich.png").datlich-img-main-main-datlich
            .datlich-img-main-main-group-list
              img(src="../images/datlich/dat-lich.png").datlich-img-main-main-datlich
              img(src="../images/datlich/dat-lich.png").datlich-img-main-main-datlich
        img(src="../images/datlich/da-co.png").datlich-img-main-main-da-co   
        .datlich-img-main-bottom
      .datlich-img-footer
