section.datlich
  .container
    .datlich-img
      .datlich-img-header
        .datlich-img-list-text 
          img(src="../images/datlich/C:\Users\NhongNguyen\source\mobile-ngoc-dung-tiktok\app\images\datlich\khai-sac-rang-ngoi-bung-khi-chat.png").datlich-img-item-text 
      .datlich-img-main 
      .datlich-img-bottom
