footer.footer
  .container
    img(src="../images/footer/logo-ngoc-dung.png").footer-logo
    img(src="../images/footer/logo-bo-cong-thuong.png").footer-logo
    .footer-text
      .footer-text-title
      .footer-text-time 
      .footer-text-link 
      .footer-text-hotline 
      .footer-text-
    .footer-img-logo
    