footer.footer
  .container
    img(src="../images/footer/logo-ngoc-dung.png").footer-logo
    img(src="../images/footer/logo-bo-cong-thuong.png").footer-logo
    .footer-text
      .footer-text-title
      .footer-text-time 
      .footer-text-link 
      .footer-text-hotline 
      .footer-text-number 
    .footer-icon
      img(src="../images/footer/group-logo-social-face.png").footer-icon-item 
      img(src="../images/footer/group-logo-social-inst.png").footer-icon-item 
      img(src="../images/footer/group-logo-social-tiktok.png").footer-icon-item 
      img(src="../images/footer/group-logo-social-youtube.png").footer-icon-item 
      img(src="../images/footer/group-logo-mail.png").footer-icon-item 
      img(src="../images/footer/group-logo-social-telegram.png").footer-icon-item
    .footer-text-datlich
    .footer-text-app
    .footer-download
      .footer-download-android 
      .footer-download-app