footer.footer
  .container
    img(src="../images/footer/logo-ngoc-dung.png").footer-img-logo
    img(src="../images/footer/logo-bo-cong-thuong.png").footer-img-logo
    img(src="../images/footer/logo-ngoc-dung.png").footer-img-logo
    img(src="../images/footer/logo-ngoc-dung.png").footer-img-logo
    img(src="../images/footer/logo-ngoc-dung.png").footer-img-logo
    