header.header
	.container
		.header-list-btn 
			input(style="text",placeholder="*Họ và tên:").list-item-btn
			input(style="text",placeholder="*Số điện thoại:").list-item-btn
			input(style="text",placeholder="*Dịch vụ yêu thích:").list-item-btn
			input(style="text",placeholder="*").list-item-btn