header.header
	.container
		.column 
			.list-btn 
				.list-item-btn 
					.list-item-btn-text *Họ và tên:
				.list-item-btn 
					.list-item-btn-text *Số điện thoại:
				.list-item-btn 
					.list-item-btn-text *Dịch vụ yêu thích:
					.list-item-btn-icon 
				.list-item-btn 
					.list-item-btn-text *Chọn chi nhánh gần:
					.list-item-btn-icon