header.header
	.container
		.header-form
			.header-list-btn 
				.list-item-btn
					input(type="text",placeholder="*Họ và tên:").item-btn-text
				.list-item-btn
					input(type="text",placeholder="*Số điện thoại:").item-btn-text
				.list-item-btn
					input(type="text",placeholder="*Dịch vụ yêu thích:").item-btn-text
				.list-item-btn
					input(type="text",placeholder="*Chọn chi nhánh gần nhất:").item-btn-text
			input(type="submit",value="")
			
			