header.header
	.container
		.header-list-btn 
			.list-item-btn
				input(type="text",placeholder="*Họ và tên:",required).item-btn-text
			.list-item-btn
				input(type="text",placeholder="*Số điện thoại:",required).item-btn-text
			.list-item-btn
				select(data-select).item-btn-text
					option(value) *Dịch vụ yêu thích
					option(value="")
			.list-item-btn
				input(type="text",placeholder="*Chọn chi nhánh gần nhất:",required).item-btn-text
			.header-btn-submit
				input(type="submit",value="ĐẶT LỊCH NGAY").item-btn-submit
			
			