header.header
	.container
		.header-list-btn 
			input(style="text",placeholder="*Họ và tên").list-item-btn
			input(style="text",placeholder="*Họ và tên").list-item-btn
			input(style="text",placeholder="*Họ và tên").list-item-btn
			input(style="text",placeholder="*Họ và tên").list-item-btn