header.header
	.container
		.header-list-btn 
			input.list-item-btn 
				.list-item-btn-text *Họ và tên:
			input.list-item-btn 
				.list-item-btn-text *Số điện thoại:
			input.list-item-btn 
				.list-item-btn-text *Dịch vụ yêu thích:
				.list-item-btn-icon 
			.list-item-btn 
				.list-item-btn-text *Chọn chi nhánh gần:
				.list-item-btn-icon