header.header
	.container
		.header-list-btn 
			.list-item-btn
				input(style="text",placeholder="*Họ và tên:").item-btn-
			.list-item-btn	
				input(style="text",placeholder="*Số điện thoại:").item-btn-text
			.list-item-btn
			input(style="text",placeholder="*Dịch vụ yêu thích:").item-btn-text
			input(style="text",placeholder="*Chọn chi nhánh gần nhất").item-btn-text