header.header
	.container
		.header-list-btn 
			.list-item-btn
				input(type="text",placeholder="*Họ và tên:").item-btn-text
			.list-item-btn
				input(type="text",placeholder="*Họ và tên:").item-btn-text
			.list-item-btn
				input(type="text",placeholder="*Họ và tên:").item-btn-text
			.list-item-btn
				input(type="text",placeholder="*Họ và tên:").item-btn-text
			