mixin dangkiItem(src="../images/dangki/khonggian.png",text="Làm đẹp trong không gian sang trọng đẳng cấp.",)
  .dangki-carousel-border 
      img(src="../images/dangki/khonggian.png").dangki-carousel-border-img 
      .dangki-carousel-border-text Làm đẹp trong không gian sang trọng đẳng cấp.
    