section.review
  .container
    .review-carousel
      .review-carousel-text
        .review-carousel-text-large 
        .review-carousel-text-small 
      .review-carousel-img
    .review-review
    .review-btn