section.review
  .container
    .review-carousel
      .review-carousel-text
        .review-carousel-text-large HƠN 1.000.000 KHÁCH HÀNG ĐÃ TRẺ HÓA THÀNH CÔNG
        .review-carousel-text-small NHỜ CĂNG TRẮNG DA ĐIỆN DI TẾ BÀO GỐC
      img(src="../images/review/group-1.png").review-carousel-img
    .review-review
      .review-review-text Review khách hàng
      .review-review-box
        .review-review-box-header
          .review-review-box-text
            img(src="../images/review/user.png").review-review-box-text-avatar
            .review-review-box-text-text
              .review-review-box-text-text-name Chị Khánh Ngân
              .review-review-box-text-text-age (44 tuổi - Biên Hòa)
          img(src="../images/review/qoute.png").review-review-box-icon
        .review-review-box-star
          

        .review-review-box-text
    .review-btn