section.review
  .container
    .review-text
      .review-text-large HƠN 1.000.000 KHÁCH HÀNG ĐÃ TRẺ HÓA THÀNH CÔNG
      .review-text-small NHỜ CĂNG TRẮNG DA ĐIỆN DI TẾ BÀO GỐC  
    .review-carousel  
      i.fa.fa-triangle.left-arrow
      img(src="../images/review/group-1.png").review-carousel-img
      img(src="../images/review/group-2.png").review-carousel-img
      img(src="../images/review/group-3.png").review-carousel-img
      i.fa.fa-triangle.right-arrow
    .review-review
      .review-review-text Review khách hàng
      .review-review-carousel
        i.fa.fa-triangle.left-arrow
        .review-review-box
          .review-review-box-header
            .review-review-box-text
              img(src="../images/review/user.png").review-review-box-text-avatar
              .review-review-box-text-text
                .review-review-box-text-text-name Chị Khánh Ngân
                .review-review-box-text-text-age (44 tuổi - Biên Hòa)
            img(src="../images/review/qoute.png").review-review-box-icon
          .review-review-box-star
            img(src="../images/review/star1.png").review-review-box-star-item
            img(src="../images/review/star1.png").review-review-box-star-item 
            img(src="../images/review/star1.png").review-review-box-star-item 
            img(src="../images/review/star1.png").review-review-box-star-item 
            img(src="../images/review/star1.png").review-review-box-star-item  
          .review-review-box-text Dịch vụ làm đẹp ở Ngọc Dung là số 1, làm xong thấy hiệu quả liền.
        .review-review-box
          .review-review-box-header
            .review-review-box-text
              img(src="../images/review/user.png").review-review-box-text-avatar
              .review-review-box-text-text
                .review-review-box-text-text-name Chị Khánh Ngân
                .review-review-box-text-text-age (44 tuổi - Biên Hòa)
            img(src="../images/review/qoute.png").review-review-box-icon
          .review-review-box-star
            img(src="../images/review/star1.png").review-review-box-star-item
            img(src="../images/review/star1.png").review-review-box-star-item 
            img(src="../images/review/star1.png").review-review-box-star-item 
            img(src="../images/review/star1.png").review-review-box-star-item 
            img(src="../images/review/star1.png").review-review-box-star-item  
          .review-review-box-text Dịch vụ làm đẹp ở Ngọc Dung là số 1, làm xong thấy hiệu quả liền.
    button(type="button").review-btn Đăng ký ngay 