section.review
  .container
    .review-carousel
      .review-carousel-text
        .review-carousel-text-large HƠN 1.000.000 KHÁCH HÀNG ĐÃ TRẺ HÓA THÀNH CÔNG
        .review-carousel-text-small 
      .review-carousel-img
    .review-review
    .review-btn