section.truyenthong
  .container
    .truyenthong-header
      .truyenthong-list
        .truyenthong-list-item Truyền thông đã nói gì 
        .truyenthong-list-item  
    .truyenthong-img 
    .truyenthong-footer