section.truyenthong
  .container
    .truyenthong-header
      .truyenthong-list
        .truyenthong-list-item Truyền thông đã nói gì về Ngọc Dung
        .truyenthong-list-item 
    .truyenthong-img 
    .truyenthong-footer