section.truyenthong
  .container
    .truyenthong-header
      .truyenthong-header-title Truyền thông đã nói gì về Ngọc Dung
      .truyenthong-header-text Khám phá góc nhìn đa chiều từ các cơ quan truyền thông về Ngọc Dung
    img(src="../images/truyenthong/truyenthong.png").truyenthong-img 
    .truyenthong-footer
      .truyenthong-footer-text Hiểu rõ hơn về cách chúng tôi đã nâng cấp, cải tiến để mang đến dịch vụ làm đẹp chất lượng suốt 25 năm qua.
      .truyenthong-footer-icon 
        img(src="../images/truyenthong/logo-kenh14.png").truyenthong-footer-icon-kenh14
        img(src="../images/truyenthong/logo-vnex.png").truyenthong-footer-icon-vnex
        img(src="../images/truyenthong/logo-eva.png").truyenthong-footer-list-item
      img(src="../images/truyenthong/btn-tim-hieu-ngay.png").truyenthong-footer-btn 