section.truyenthong
  .container
    .truyenthong-header
      .truyenthong-list
        .truyenthong-list-item Truyền thông đã nói gì về Ngọc Dung
        .truyenthong-list-item Khám phá góc nhìn đa chiều từ các cơ quan truyền thông về Ngọc Dung
    img(src="../images/truyenthong/truyenthong.png").truyenthong-img 
    .truyenthong-footer
      .truyenthong-footer-text 
      .truyenthong-footer-list 
        .truyenthong-footer-list-item
        .truyenthong-footer-list-item
        .truyenthong-footer-list-item
        