section.tuvan
  .container
    .tuvan-img
      .tuvan-img-text 
        img(src="../images/tuvan/co-hoi-xoa-sach.png").tuvan-img-text-item
      .tuvan-img-text 
        img(src="../images/tuvan/co-hoi-xoa-sach.png").tuvan-img-text-item
      .tuvan-img-text 
        img(src="../images/tuvan/co-hoi-xoa-sach.png").tuvan-img-text-item
    .tuvan-btn