section.tuvan
  .container
    .tuvan-img
      .tuvan-img-text 
        img(src="../images/tuvan/co-hoi-xoa-sach.png").tuvan-img-text-item-co-hoi
        img(src="../images/tuvan/moi-khuyet-diem-tren-da.png").tuvan-img-text-item-khuyet-diem
        img(src="../images/tuvan/voi-su-dong-hanh-cung-chuyen-gia-tai-ngoc-dung.png").tuvan-img-text-item-dong-hanh
      img(src="../images/tuvan/")
    .tuvan-btn